<mat-card class="mb-5">
    <mat-card-content>
        <h3 class="font-weight-bold">
            {{isInEditMode ? 'Update User' : 'Add User'}}
        </h3>
        <form [formGroup]="userForm" (ngSubmit)="onUserAdd()">
            <div class="fomr-group">
                <label for="userName">User Name*</label>
                <input formControlName="userName" type="text" class="form-control" id="userName">
            </div>

            <div class="form-group mt-4">
                <label for="userRole">User Role*</label>
                <select formControlName="userRole" type="text" class="form-control" id="userRole">
                    <option value="Candidate">Candidate</option>
                    <option value="Admin">Admin</option>
                </select>
            </div>

            <div class="form-group mt-4">
                <label for="profileDescription">Profile Description*</label>
                <textarea formControlName="profileDescription" rows="4" class="form-control" id="profileDescription">
                </textarea>
            </div>

            <div class="form-group">
                <label for="profileImage">Profile Image*</label>
                <input formControlName="profileImage" type="text" class="form-control" id="profileImage">
            </div>

            <div class="form-group">
                <label for="experienceYears">Experience In Years*</label>
                <select formControlName="experienceYears" type="text" class="form-control" id="experienceYears">
                    <option value="1 to 3 years">1 to 3 years</option>
                    <option value="3 to 5 years">3 to 5 years</option>
                    <option value="5 to 7 years">5 to 7 years</option>
                    <option value="7 to 10 years">7 to 10 years</option>
                    <option value="10+ years">10+ years</option>
                </select>
            </div>

            <div formArrayName="skills">
                <h4>Skills*</h4>
                <div class="row" *ngFor="let skill of skillArr.controls; let i = index">
                    <div class="col-10">
                        <div class="form-group">
                            <input [id]="'skill-'+i" [formControlName]="i" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-2">
                        <button *ngIf="i !== 0" [disabled]="editUser.userRole === 'Candidate'" type="button"
                            class="btn btn-sm btn-outline-danger" (click)="onRemoveSkill(i)">Remove</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button [disabled]="formControls['skills'].invalid || skillArr.length >= 5 || editUser.userRole === 'Candidate'!"
                        (click)="addSkillControl()" type="button" mat-raised-button color="primary" class="mb-4">Add
                        Skills</button>
                        <small *ngIf="skillArr.length >= 5" class="text-muted-warning d-block">Maximum 5 skills allowed.</small>

                </div>
            </div>
            </div>

            <div class="form-group">
                <label for="isActive">Is Active*</label>
                <select formControlName="isActive" type="text" class="form-control" id="isActive">
                    <option [ngValue]="true">Yes</option>
                    <option [ngValue]="false">No</option>
                </select>
            </div>

            <div formGroupName="address">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="font-weight-bold">Current Address</h4>
                        <div formGroupName="current">
                            <div class="form-group">
                                <label for="c-country">Country*</label>
                                <input id="c-country" formControlName="country" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="c-state">State*</label>
                                <input id="c-state" formControlName="state" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="c-city">City*</label>
                                <input id="c-city" formControlName="city" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="c-zipcode">Zipcode*</label>
                                <input id="c-zipcode" formControlName="zipcode" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4 class="font-weight-bold">Permanent Address</h4>
                        <div formGroupName="permanent">
                            <div class="form-group">
                                <label for="p-country">Country*</label>
                                <input id="p-country" formControlName="country" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="p-state">State*</label>
                                <input id="p-state" formControlName="state" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="p-city">City*</label>
                                <input id="p-city" formControlName="city" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="p-zipcode">Zipcode*</label>
                                <input id="p-zipcode" formControlName="zipcode" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="isAddSame">
                            <input type="checkbox" formControlName="isAddSame" id="isAddSame">
                            Current & Permanent address are same.
                        </label>
                    </div>
                </div>
            </div>

            <button *ngIf="!isInEditMode" mat-raised-button color="primary" type="submit">Add User</button>
            <button [disabled]="editUser.userRole === 'Candidate'!" (click)="onUserUpdate()" *ngIf="isInEditMode"
                mat-raised-button color="primary" type="button">Update User</button>
        </form>
    </mat-card-content>
</mat-card>