form {

    label {
        font-weight: 700;
    }

    .form-control.ng-invalid.ng-touched,
    .form-control.ng-invalid.ng-dirty {
        border: 2px solid red;
    }
}

.text-muted-warning {
    display: block;
    color: #dc3545;       
    font-weight: 800;
    position: relative;
    top: -8px;           
    margin-top: -4px;
}